$yellow: rgba(255, 255, 149, 1);
$main-text-color: #111;
$bg: 'https://static.pexels.com/photos/79290/black-and-white-code-programming-tech-79290.jpeg';

$gutter: 20px;
$breakpoint: 1170px;
$breakpoint-m: 980px;
$breakpoint-s: 768px;
$breakpoint-xs: 480px;

$baseline: 2.1;
