$yellow: rgba(255, 255, 149, 0.8);
$mainTextColor: #111;
$bg: 'https://static.pexels.com/photos/79290/black-and-white-code-programming-tech-79290.jpeg';

$gutter: 20px;
$breakpoint: 1170px;
$breakpoint_m: 980px;
$breakpoint_s: 768px;
$breakpoint_xs: 480px;

$baseline: 2.1;
