$yellow: rgba(255, 255, 149, 0.8);
$mainTextColor: #111;
$bg: '../images/bg.jpg';

$gutter: 20px;
$container: 1170px;
$container_m: 980px;
$container_s: 768px;
$container_xs: 480px;

$baseline-em: 2.4em;
$baseline-rem: 2.4rem;
$baseline-xp: 24px;
