*,
*:after,
*:before {
  box-sizing: border-box; }

html {
  font-size: .625em;
  font-size: calc(1em * .625); }

body {
  margin: 0;
  padding: 0;
  font: normal 1.4em 'Ubuntu', helvetica, sans-serif;
  color: #111; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

::selection {
  background: rgba(255, 255, 149, 0.8); }

::-moz-selection {
  background: rgba(255, 255, 149, 0.8); }

.section {
  padding: 10rem 0;
  text-align: center; }
  .section__title {
    text-align: center;
    font-family: 'Montserrat';
    letter-spacing: 8px;
    font-weight: 700;
    font-size: 1.4rem;
    margin: 0 0 40px; }
    .section__title::after {
      display: block;
      content: '';
      width: 2rem;
      margin: 1rem auto 0;
      height: .2rem;
      background: #111; }
  .section__subtitle {
    font-size: 1.8rem;
    margin: 0 0 1rem;
    line-height: 1;
    font-family: 'Montserrat';
    font-weight: 700;
    letter-spacing: 1px; }
  .section__text {
    margin: 0;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.4rem; }
    .section__text--high {
      font-weight: 700;
      letter-spacing: 1px; }

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px; }
  .container--m {
    max-width: 980px; }
  .container--s {
    max-width: 768px; }
  .container--xs {
    max-width: 480px; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px; }
  .row .col {
    padding-left: 10px;
    padding-right: 10px;
    display: flex; }

.navbar {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background .2s ease-in-out; }
  .navbar .container {
    justify-content: space-between;
    align-items: center;
    display: flex; }
  .navbar-logo {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Montserrat';
    transition: all .2s ease-in-out; }
  .navbar-nav {
    display: flex; }
    .navbar-nav__link {
      display: block;
      color: #fff;
      font-weight: 700;
      font-family: 'Montserrat';
      padding: 3rem 20px;
      transition: all .2s ease-in-out; }
  .navbar.active {
    background: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); }
  .navbar.active .navbar-logo {
    color: #111;
    font-size: 2.4rem;
    font-weight: 700;
    font-family: 'Montserrat'; }
  .navbar.active .navbar-nav {
    display: flex; }
    .navbar.active .navbar-nav__link {
      color: #111;
      padding: 2rem 20px; }

.header {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem 0;
  background: url("../images/bg.jpg") no-repeat center 0/cover;
  text-align: center; }
  .header__name {
    font-size: 8rem;
    font-weight: 700;
    font-family: 'Montserrat';
    color: #fff;
    margin: 0 0 1rem;
    line-height: 1; }
    @media (max-width: 980px) {
      .header__name {
        font-size: 6rem; } }
    @media (max-width: 768px) {
      .header__name {
        font-size: 4rem; } }
  .header__job {
    font-size: 2rem;
    font-weight: 400;
    color: #111;
    margin: 0;
    background: rgba(255, 255, 149, 0.8);
    padding: .5rem 2.5rem; }

.about__socialmedia {
  display: flex;
  justify-content: center;
  margin-top: 20px; }
  .about__socialmedia-link {
    width: 30px;
    display: block;
    margin: 0 10px;
    color: inherit; }

.skillbar {
  background: #f6f6f6; }
  .skillbar-skills__item {
    width: 100%;
    background: #fff;
    padding: 40px 20px;
    text-align: left;
    transition: all .2s ease-in-out; }
    .skillbar-skills__item:hover {
      box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0, 0.1); }
    .skillbar-skills__item-icon {
      width: 50px;
      margin-bottom: 10px; }
  .skillbar .col {
    flex: 0 0 33.33333%; }
    @media (max-width: 768px) {
      .skillbar .col {
        flex: 0 0 100%; }
        .skillbar .col:not(:first-child) {
          margin-top: 20px; } }

.portfolio-nav {
  display: flex;
  justify-content: center; }
  .portfolio-nav__item {
    margin: 0 5px; }
  .portfolio-nav__link {
    padding: 1rem 20px;
    color: #111;
    font-weight: 400;
    display: block; }
    .portfolio-nav__link.active, .portfolio-nav__link:hover {
      background: rgba(255, 255, 149, 0.8); }

.portfolio-project {
  margin-top: 20px; }
  .portfolio-project__item {
    position: relative; }
    .portfolio-project__item-picture {
      display: block; }
    .portfolio-project__item-overlay {
      position: absolute;
      background: rgba(255, 255, 149, 0.8);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity .2s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .portfolio-project__item-overlay__icon {
        width: 30px;
        margin-top: 10px; }
    .portfolio-project__item:hover .portfolio-project__item-overlay {
      opacity: 1; }

.portfolio .col {
  flex: 0 0 33.33333%; }
  @media (max-width: 768px) {
    .portfolio .col {
      flex: 0 0 50%; } }
  @media (max-width: 480px) {
    .portfolio .col {
      flex: 0 0 100%; } }

.contact {
  background: #f6f6f6; }
  .contact-way {
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 40px; }
    .contact-way__item {
      margin: 0 20px; }
      .contact-way__item-icon {
        height: 40px;
        margin-bottom: 10px; }
  @media (max-width: 768px) {
    .contact .col {
      flex: 0 0 100%;
      justify-content: center; }
      .contact .col:not(:first-child) {
        margin-top: 20px; } }
