.section {
	padding: 10rem 0;
	text-align: center;

	&__title {
		text-align: center;
		font-family: 'Montserrat';
		letter-spacing: 8px;
		font-weight: 700;
		font-size: 1.4rem;
		margin: 0 0 ($gutter * 2);

		&::after {
			display: block;
			content: '';
			width: 2rem;
			margin: 1rem auto 0;
			height: .2rem;
			background: #111;
		}
	}
	&__subtitle {
		font-size: 1.8rem;
		margin: 0 0 1rem;
		line-height: 1;
		font-family: 'Montserrat';
		font-weight: 700;
		letter-spacing: 1px;
	}
	&__text {
		margin: 0;
		font-weight: 300;
		line-height: 1.5;
		font-size: 1.4rem;

		&--high {
			font-weight: 700;
			letter-spacing: 1px;
		}
	}
}
.container {
	width: 100%;
	max-width: $container;
	margin: 0 auto;
	padding: 0 $gutter;

	&--m {
		max-width: $container_m;
	}
	&--s {
		max-width: $container_s;
	}
	&--xs {
		max-width: $container_xs;
	}
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: $gutter / -2;
	margin-right: $gutter / -2;

	.col {
		padding-left: $gutter / 2;
		padding-right: $gutter / 2;
		display: flex;
	}
}
