.about {
	
	&__socialmedia {
		display: flex;
		justify-content: center;
		margin-top: $gutter;

		&-link {
			display: block;
			margin: 0 10px;
			color: inherit;
		}
		&-icon {
			height: 30px;
			width: 30px;
		}
	}
}