.about {
  
  &__socialmedia {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    .socialmedia {
      &__link {
        display: block;
        margin: 0 10px;
        color: inherit;

        &-icon {
          height: 3rem;
          width: 3rem;
        }
      }
    }
  }

  .section {
    &-text {
      text-align: left;
    }
  }
}
