.contact {
	background: #f6f6f6;

	&-way {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		margin-bottom: ($gutter * 2);

		&__item {
			&:nth-child(2) {
				margin-right: 4rem;
				margin-left: 4rem;
			}
		}
	}
}