.navbar {
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: background .2s ease-in-out;
	@media screen and (max-width: $container_s) {
		display: none;
	}

	.container {
		justify-content: space-between;
		align-items: center;
		display: flex;
	}

	&-logo {
		color: #fff;
		font-size: 3rem;
		font-weight: 700;
		font-family: 'Montserrat';
		transition: all .2s ease-in-out;
	}
	&-nav {
		display: flex;

		&__link {
			display: block;
			color: #fff;
			font-weight: 700;
			font-family: 'Montserrat';
			padding: 3rem $gutter;
			transition: all .2s ease-in-out;
		}
	}
	
	&.active {
		background: #fff;
		box-shadow: 2px 2px 8px rgba(0, 0, 0, .1);
	}
	&.active & {
		&-logo {
			color: #111;
			font-size: 2.4rem;
			font-weight: 700;
			font-family: 'Montserrat';
		}
		&-nav {
			display: flex;

			&__link {
				color: #111;
				padding: 2rem $gutter;
			}
		}
	}
}