.navbar {
    $boxShadowNav: 2px 4px rgba(0, 0, 0, .1);

    z-index: 9999;
    position: fixed;
    left: 0;
    width: 100%;
    transition: background .2s ease-in-out;
    
    &--desktop {
        display: block;
        top: 0;
        @media screen and (max-width: $breakpoint-s) {
            display: none;
        }
    }
    &--mobile {
        display: none;
        bottom: 0;
        background: #fff;
        box-shadow: #{'0 -'}$boxShadowNav;
        @media screen and (max-width: $breakpoint-s) {
            display: block;
        }
    }

    .container {
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    &__logo {
        color: #fff;
        font-size: 2.4rem;
        line-height: line-height(2.4, $baseline);
        font-weight: 700;
        font-family: 'Montserrat';
        transition: all .2s ease-in-out;
    }
    &__nav {
        display: flex;

        .nav {
            //NOMANSLAND
            &__link {
                display: block;
                color: #fff;
                font-size: 1.4rem;
                line-height: line-height(1.4, $baseline);
                font-weight: 400;
                font-family: 'Montserrat';
                padding: 3rem $gutter;
                transition: all .2s ease-in-out;
            }
        }

        &--mobile {
            flex: 1;
            justify-content: space-between;
            justify-content: space-evenly;

            .nav {
                //NOMANSLAND
                &__link {
                    color: $main-text-color;
                    padding: 1rem;

                    &-icon {
                        width: 2.4rem;
                        height: 2.4rem;
                    }
                }
            }
        }
    }
    
    &.active {
        background: #fff;
        box-shadow: #{'0 '}$boxShadowNav;
    }
    &.active & {
        &__logo {
            color: #111;
            font-size: 1.8rem;
            line-height: line-height(1.8, $baseline);
        }
        &__nav {
            display: flex;
            
            .nav {
                //NOMANSLAND
                &__link {
                    color: #111;
                    padding: 2rem $gutter;
                }
            }
        }
    }
}
