.portfolio {

	&-nav {
		display: flex;
		justify-content: center;

		&__item {

		}
		&__link {
			padding: 1rem 1.5rem;
			color: #111;
			font-weight: 500;
			display: block;

			&.active {
				background: $yellow;
			}
		}
	}

	&-project {
		display: flex;
		flex-wrap: wrap;

		&__item {
			flex: 0 0 percentage(1 / 3);
			margin-top: $gutter;
			position: relative;
			
			&-picture {
				display: block;
			}
			&-overlay {
				position: absolute;
				background: $yellow;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				transition: opacity .2s ease-in-out;
			}

			&:hover &-overlay {
				opacity: 1;
			}
		}
	}
}