.portfolio {

	&-nav {
		display: flex;
		justify-content: center;

		&__item {
			margin: 0 ceil($gutter / 4);
		}
		&__link {
			padding: 1rem $gutter;
			color: #111;
			font-weight: 400;
			display: block;

			&.active,
			&:hover {
				background: $yellow;
			}
		}
	}

	&-project {
		margin-top: $gutter;

		&__item {
			position: relative;
			
			&-picture {
				display: block;
			}
			&-overlay {
				position: absolute;
				background: $yellow;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				transition: opacity .2s ease-in-out;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;

				&__icon {
					width: 30px;
					margin-top: 10px;
				}
			}

			&:hover &-overlay {
				opacity: 1;
			}
		}
	}

	.col {
		flex: 0 0 percentage(1 / 3);

		@media (max-width: $container_s) {
			flex: 0 0 percentage(1 / 2);
		}
		@media (max-width: $container_xs) {
			flex: 0 0 percentage(1);
		}
	}
}