.skillbar {
	background: #f6f6f6;

	&-skills {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&__item {
			flex: 0 0 percentage(1 / 3);
			background: #fff;
			padding: ($gutter * 2) $gutter;
			text-align: left;
			transition: all .2s ease-in-out;

			&:hover {
				box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0, 0.1);
			}

			@media (max-width: $container_s) {
				flex: 0 0 percentage(1);
				&:not(:first-child) {
					margin-top: $gutter;
				}
			}
		}
	}
}